# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
.env
venv/
ENV/
.build/
dist/
*.sqlite3

# Flask
instance/
*.log

# Jupyter (caso use)
.ipynb_checkpoints/

# VSCode
.vscode/

# Sistema
.DS_Store
Thumbs.db

# React / Node
node_modules/
build/
dist/
.cache/
*.env.local
*.env.development
*.env.production
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Root
.env
